# Root ignores
/.nuget/
/artifacts/
/data/
/tmp/
/TestResults/

# Global ignores
bin/
obj/
.vs/
*.csproj.user
*.pubxml.user
*.sqlproj.user
*.pptx

# Custom ignores
src/Lefty.Ado.McpHost/*.cmd
tools/Lefty.Ado.Cli/*.cmd
tools/Lefty.Ado.Cli/*.db

# eof
